@using TutorCenter.Web.Models;
@model PieChartViewModel

<h5 class="card-title"> Current Status <span>| @Model.ByTime </span></h5>

<!-- Pie Chart -->
<div id="pieChart"></div>

<script>
  new ApexCharts(document.querySelector("#pieChart"), {
    series: @Html.Raw(Model.series),
    chart: {
      height: 350,
      type: 'pie',
      toolbar: {
        show: true
      }
    },
    labels: @Html.Raw(Model.labels)
  }).render();

</script>
<!-- End Pie Chart -->